<% provide(:title, "Past Evaluations")%>
<br>
<p>This is where a user will be prompted to select a project, and then the evaluations (from "evaluates", these are given by teammates on a per project basis) and the final grade/comments (from "works_on", these are given by teacher) corresponding to that project.
<br>

<br>

<%= link_to 'Back', 'home' %>

<p>Find me in app/views/student_pages/eval.html.erb</p>
