<% provide(:title, "Student Main Page")%>

<p><a class="button-7" href="/evaluates/new">Complete Current Evaluation</a></p>

<p><a class="button-8" href="/student_pages/eval">View Past Evaluations</a></p>

<%= link_to 'Log out', "/home_pages/home" %>




