<% provide(:title, "Student Main Page")%>
<br>
<p>We will need to pass the student id to both of these so that a student can only interact with things they have access too </p>
<a href="/student_pages/eval">Complete Current Evaluation</a>
<br>
<a href="/evaluates">View Past Evaluations</a>
<br>



<p>Find me in app/views/student_pages/home.html.erb</p>
