<% provide(:title, "Roster Page")%>

<br>
<a href="/admin_pages/home">Admin Home</a>
<br>
<a href="/students/new">Add Students</a>
<br>
<a href="/students">Edit Students</a>
<br>



<p>Find me in app/views/admin_pages/roster.html.erb</p>
