<% provide(:title, "Home")%>
<a href="/home_pages/student_login">Returning Student Login</a>
<br>
<a href="/home_pages/student_create_account">New Student Create Account</a>
<br>
<a href="/home_pages/admin_login">Returning Instructor Login</a>
<br>
<a href="/home_pages/admin_create_account">New Instructor Create Account</a>
<br>
<a href="/admin_pages/home">Admin Main (here for development only)</a>
<br>
<a href="/student_pages/home">Student Main (here for development only)</a>
