<% provide(:title, "Admin Main Page")%>
<br>
<a href="/admin_pages/roster">Manage Roster</a>
<br>
<a href="/admin_pages/teams">Manage Teams</a>
<br>
<a href="/admin_pages/projects">Manage Projects</a>
<br>



<p>Find me in app/views/admin_pages/home.html.erb</p>
