<% provide(:title, "Admin Main Page")%>
<br>
<a href="/admin_pages/roster">Manage Roster</a>
<br>
<a href="/admin_pages/teams">Manage Teams</a>
<br>
<a href="/admin_pages/projects">Manage Projects</a>
<br>
<a href="/home_pages/home">Log out</a>
<br>




