<% provide(:title, "Projects Page")%>

<br>
<a href="/admin_pages/home">Admin Home</a>
<br>
<a href="/projects/new">Create Project</a>
<br>
<a href="/projects">Manage Projects</a>
<br>



<p>Find me in app/views/admin_pages/projects.html.erb</p>
