<% provide(:title, "Projects Page")%>


<p><a class="button-7" href="/projects/new">New Project</a></p>

<p><a class="button-8" href="/projects">Edit Projects</a></p>

<%= link_to 'Back', "/admin_pages/home" %>

