<% provide(:title, "Teams Page")%>

<br>
<a href="/admin_pages/home">Admin Home</a>
<br>
<a href="/admin_pages/teamParams">Add Team</a>
<br>
<a href="/teams">Edit Teams</a>
<br>
<a href="/student_on_teams/index">View Teams</a>
<br>



<p>Find me in app/views/admin_pages/teams.html.erb</p>
<br>
<p>Need to change this so that the the teams can be create dby inputting the size of the team and then having functionality to create teams from selected student size and roster</p>
