<% provide(:title, "Teams Page")%>

<p><a class="button-7" href="/admin_pages/teamParams">Create Teams</a></p>

<p><a class="button-8" href="/student_on_teams/index">Edit Teams</a></p>

<%= link_to 'Back', "/admin_pages/home" %>
