<%= form_with(model: student_on_team) do |form| %>
  <% if student_on_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_on_team.errors.count, "error") %> prohibited this student_on_team from being saved:</h2>

      <ul>
        <% student_on_team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
