// Place all the styles related to the HomePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    .form-control {
      color: red;
    }
  }

$base-color: #000000;
$ruby-red: #dc1e1e;

body {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient($ruby-red 0.8500000000000001px, $base-color 0.8500000000000001px);
  background-size: 50px 50px;
  color: white;
  font-family: Inter;
}

#branding {
  text-align: center;
  color: $ruby-red;
  margin-top: 50px;

  h1 {
    font-size: 60px;
  }

  img {
    width: 100px;
  }

  p {
    font-size: 30px;
  }
}


.flexbox {
  display: flex;
  margin-top: 50px;

  .flexboxChild {
    flex: 1;
    text-align: center;
  }
}

.rounded {
  border-radius: 0.375rem;
}

